* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  color: black;
  font-size: 20px;

  min-width: 150px;
  min-height: 400px;
  
  width: 50vw;
  height: 75vw;
  
  padding: 1em;
  
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,.25);
  background: white;
}


h2 {
  text-decoration: underline;
  text-transform: uppercase;
}

input {
  border: none;
  border-bottom: 2px solid #cacaca;
  display: block;
  width: calc(100% + 2rem);
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  left: -1rem;
  z-index: 1;

  padding-left: 1em;
  
  font-size: 12px;
  font-weight: lighter;
  
  box-sizing: border-box;
}

input:last-of-type {
  border-bottom: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    
  margin-bottom: 1em;
}

label {
  display: block;
  height: 0;
  
  position: relative;
  z-index: 999;
  
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.5em;
}

p {
  background: #FFF;
  padding: 1em 2em;
  height: 275px;
  width: 200px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px 2px rgba(0,0,0,.25);
}

button,
input{
  font-family: 'Comfortaa', cursive;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
}
  
a {
  font-family: 'Comfortaa', cursive;
  color: black;
  font-size: 15px;
  line-height: 1.5em;
}

/*Parte responsivo*/
@media(min-width:400px){
  body{
      font-size: 14px;
  }
  .contact,
  .portfolio {
    padding: 3em 2em 2em;
    height: 100vh;
  }
}

@media (min-width: 600px) {
  body {
      font-size: 18px;
  }
  .contact,
  .portfolio {
    padding: 2em;
  }
}

@media (min-width: 1200px) {
  body {
      font-size: 20px;
  }
  .contact,
  .portfolio {
    padding: 2em;
  }
}